einops==0.3.2
tqdm==4.56.0
wandb==0.12.17
pytorch-lightning==1.5.10
pandas==1.2.0
nltk==3.8.1
opencv-python==4.6.0.66
pydicom==2.1.2
segmentation-models-pytorch==0.2.0
torchmetrics==0.8.2
transformers==4.25.1
timm==0.6.12
matplotlib==3.3.3
Pillow==9.3.0
scikit-image==0.18.1
scikit-learn==1.2.0
scipy==1.9.3
sklearn==0.0


